/build
google-services.json
*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksum.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea
.DS_Store
/captures
.externalNativeBuild


# gradle
gradle/
gradlew*